extends ../main-layout

block variables
  -
    var title = "About page";
    var page  = "About"


block content
  include ../parts/hero
  +hero('about')
  main(role="main").page-main
    section.section.about
      svg(
        viewbox="0 0 1000 150" 
        preserveAspectRatio="none"
        class="triangle triangle_fill_white about__triangles about__triangle-left")
        polygon(points="0,0 0,150 1000,150")
      svg(
        viewbox="0 0 1000 150" 
        preserveAspectRatio="none"
        class="triangle triangle_fill_beige about__triangles about__triangle-right")
        polygon(points="0,150 1000,150 1000,0")
      .about__left
        +title('about__section-title' , 'about_header', 'Обо мне')
        .user__about
          .user__about-wrap
            .user__about-photo
              img(src="/assets/img/contents/user-big.jpg" alt="").user__about-img
            .user__about-title
              .subtitle 
                p Кто Я
            .user__about-desc
              p 
                |Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              p
                |Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!

      .about__right
        .about__data
          .about__data-description.about__user-info
            .subtitle
              p Чем я могу быть вам полезен
            .about__user-info-text
              p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку
          .about__data-content
            ul.skill
              each skill in skills
                each skillsArray, skillName in skill
                  li.skills__item
                    .skill-section
                      .skill-section__title= skillName
                      ul.skill-section__list
                        each skillTitle in skillsArray
                          li.skills-section__item
                            .skill
                              svg(class="skill__circles" stroke-width="15" fill="none" viewbox='0 0 110 110')
                                circle(r="45" cx="50%" cy="50%" fill="none" stroke="#dfdcd5" class="circle__first")
                                circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" stroke="#1bb696" stroke-dasharray="0 282.6" class="circle__second circle-55")
                              .skill__name= skillTitle

                                                                                      

  include ../parts/map
  include ../parts/footer
  +footer('about')

