extends ../main-layout

block variables
  -
    var title = "Portfolio page";
    var page  = "Portfolio"

block content
    include ../parts/hero
    +hero('portfolio')
    main(role="main").page-main
      section.section.works
        svg(
          viewbox="0 0 1000 150" 
          preserveAspectRatio="none"
          class="triangle triangle_fill_whitnes works__triangles works__triangles-left")
          polygon(points="0,0 0,150 1000,150")
        svg(
          viewbox="0 0 1000 150" 
          preserveAspectRatio="none"
          class="triangle triangle_fill_whitnes works__triangles works__triangles-right")
          polygon(points="0,150 1000,150 1000,0")
        +title('portfolio__title', 'works_header', 'Мои Роботы')                                                      
      section.section.slider
        .slider__desc
          .slider__desc-wrap
            .subtitle
                p Сайт школы онлайн Образования
            .slider__site-languages
              p HTML , CSS, JAVASCRIPT
            .slider__site-preview
              a.preview__button(href="#")
                svg.preview__button-icon
                  use(xlink:href='/assets/img/icons/symbol/sprite.svg#link')
                span.preview__button-text Посмотреть сайт
        .slider__display
          img.slider__display-pic(src="/assets/img/contents/work.png" alt="work")
        .slider__toggle
          .slider__toggle-prev
            img.slider__toggle-pic.slider__toggle-pic-prev(src="/assets/img/contents/work.png" alt="work")
            a.slider__toggle-prev__button.slider__toggle-button(href="#")
              svg.slider__arrow-svg.slider-arrow-svg__prev
                use(xlink:href='/assets/img/icons/symbol/sprite.svg#arrow_down')
          .slider__toggle-next
            img.slider__toggle-pic.slider__toggle-pix-next(src="/assets/img/contents/work.png" alt="work")
            a.slider__toggle-next__button.slider__toggle-button(href="#")
              svg.slider__arrow-svg.slider-arrow-svg__next
                use(xlink:href='/assets/img/icons/symbol/sprite.svg#arrow_up')
      include ../parts/reviews
      include ../parts/footer
      +footer('portfolio')

